---
import {getCollection, getEntryBySlug} from "astro:content"
import {Image} from "@astrojs/image/components"

import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro"
import CategoryList from "../../components/CategoryList.astro"
import Share from "../../components/Share.astro"
import {XataClient} from "../../xata"
import {getThumbnail} from "../../cloudinary"
import TableOfContents from "../../components/TableOfContents.astro"
import CommentList from "../../components/CommentList.astro"

const xata = new XataClient({apiKey: import.meta.env.XATA_API_KEY})

const user = Astro.cookies.get("userId")

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData()

    const post = data.get("post") as string
    const comment = data.get("comment") as string

    if (!user.value) {
        return Astro.redirect(`/login?redirect=/blog/${post.slug}#comments`)
    }

    await xata.db.comments.create({
        post,
        text: comment,
        date: new Date(),
        user: user.value,
    })
}

const {slug} = Astro.params

const post = await getEntryBySlug("posts", slug as string)

if (!post) {
    return Astro.redirect("/404")
}

const author = await getEntryBySlug("authors", post.data.author)

if (!author) {
    return Astro.redirect("/404")
}

const posts = await getCollection("posts")
const remainingPosts = posts.filter(p => p.slug !== post.slug)
const relatedPosts = remainingPosts.filter(p =>
    p.data.categories.some(category => post.data.categories.includes(category)),
)

const comments = await xata.db.comments
    .select(["id", "text", "date", "user.name"])
    .filter({post: post.slug})
    .getMany()

const {Content, headings, remarkPluginFrontmatter} = await post.render()
---

<Layout title={post.data.title} image={getThumbnail(post.data.title)}>
    <main class="max-w-5xl w-full justify-self-center">
        <div class="text-zinc-500 text-2xl mb-16">
            ← <a href="/" class="underline">Back to all blogs</a>
        </div>

        <div class="mb-4">
            <CategoryList categories={post.data.categories} />
        </div>

        <p class="text-6xl text-teal-900 mb-11 font-bold">
            {post.data.title}
        </p>

        <div class="flex justify-between items-center mb-10">
            <div class="flex items-center gap-x-2">
                <a href={`/author/${author.slug}`}>
                    <Image
                        src={author.data.image}
                        alt={author.data.name}
                        width={48}
                        height={48}
                        format="webp"
                        class="rounded-full border-2 border-teal-500 aspect-square w-12 object-cover"
                    />
                </a>

                <a
                    href={`/author/${author.slug}`}
                    class="text-zinc-600 text-2xl font-bold"
                >
                    {author.data.name}
                </a>
            </div>

            <span class="text-zinc-600 text-xl">
                {remarkPluginFrontmatter.minutesRead} | {post.data.date}
            </span>
        </div>

        <Image
            src={post.data.image}
            alt={post.data.title}
            width={1024}
            height={1024 / 1.5}
            format="webp"
            class="rounded-2xl shadow-xl mb-28 aspect-thumbnail object-cover"
        />

        <div class="relative flex gap-x-12">
            <Share post={post} />

            <div class="prose prose-2xl overflow-visible relative">
                <Content />
            </div>

            <TableOfContents headings={headings} />
        </div>
    </main>

    <div
        class="bg-teal-100/10 pt-14 px-24 pb-44 relative border-b border-teal-900 mt-44"
    >
        <div
            id="comments"
            class="flex items-center absolute top-0 -translate-y-1/2"
        >
            <span class="font-bold text-teal-900 text-4xl mr-12">Comments</span>

            <span
                class="border border-teal-900 text-teal-900 rounded-full px-4 py-2 font-bold text-xl"
            >
                0
            </span>
        </div>

        {
            user.value ? (
                <form
                    method="POST"
                    class="grid grid-cols-[1fr,auto] gap-x-3 mb-24 items-end"
                >
                    <div class="flex flex-col">
                        <label
                            for="comment"
                            class="text-zinc-900 text-2xl mb-2"
                        >
                            Leave a comment
                        </label>

                        <input
                            type="text"
                            name="comment"
                            id="comment"
                            class="border border-teal-900 rounded-lg text-2xl px-6 py-6"
                        />
                    </div>

                    <input
                        type="hidden"
                        name="post"
                        id="post"
                        value={post.slug}
                    />

                    <button
                        type="submit"
                        class="text-2xl text-zinc-100 bg-teal-900 px-6 py-5 rounded-xl my-1"
                    >
                        Add a comment
                    </button>
                </form>
            ) : (
                <p class="text-zinc-700 text-2xl mt-4 mb-24">
                    Please
                    <a
                        class="text-teal-900 underline"
                        href={`/login?redirect=/blog/${post.slug}#comments`}
                    >
                        login
                    </a>
                    to comment.
                </p>
            )
        }

        <CommentList comments={comments} />
    </div>

    <div class="px-24 pt-56 pb-80">
        <p class="font-bold text-teal-900 text-4xl mb-16">Related posts</p>
        <PostList posts={relatedPosts} />
    </div>
</Layout>
