---
import {getCollection} from "astro:content"

import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro"
import CategoryList from "../../components/CategoryList.astro"
import Pagination from "../../components/Pagination.astro"
import Main from "../../components/Main.astro"
import H1 from "../../components/H1.astro"

const page = Number(Astro.url.searchParams.get("page")) || 1

const postsPerPage = 6
const start = postsPerPage * (page - 1)
const end = start + postsPerPage

const allPosts = await getCollection("posts")
const posts = allPosts.slice(start, end)
const allCategories = allPosts.flatMap(post => post.data.categories)
const categories = Array.from(new Set(allCategories))
---

<Layout>
    <Main>
        <H1 text="Rhythm Nation Blog" />

        <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
            Join the Community and learn from Music Producers and Enthusiasts
        </p>

        <div
            class="grid grid-cols-[auto,1fr] gap-x-14 gap-y-3 mb-16 max-lg:grid-cols-1"
        >
            <CategoryList categories={categories} title="Tags" />
        </div>

        <div class="mb-32">
            <PostList posts={posts} />
        </div>

        <Pagination page={page} numberOfPosts={allPosts.length} />
    </Main>
</Layout>
