---
import {CollectionEntry, getEntryBySlug} from "astro:content"
import {Image} from "astro:assets"

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props
const {remarkPluginFrontmatter} = await post.render()

const author = await getEntryBySlug("authors", post.data.author)

if (!author) {
    return Astro.redirect("/404")
}
---

<div class="flex justify-between items-center mb-10">
    <div class="flex items-center gap-x-2">
        <a href={`/author/${author.slug}`}>
            <Image
                src={author.data.image}
                alt={author.data.name}
                width={48}
                height={48}
                format="webp"
                class="rounded-full border-2 border-teal-500 aspect-square w-12 object-cover"
            />
        </a>

        <a
            href={`/author/${author.slug}`}
            class="text-zinc-600 text-2xl font-bold"
        >
            {author.data.name}
        </a>
    </div>

    <span class="text-zinc-600 text-xl">
        {remarkPluginFrontmatter.minutesRead} | {post.data.date}
    </span>
</div>
