---
import type {CollectionEntry} from "astro:content"

import CategoryList from "./CategoryList.astro"

type Props = {
    author: CollectionEntry<"authors">
    post: CollectionEntry<"posts">
}

const {author, post} = Astro.props
---

<article>
    <a href={`/blog/${post.slug}`}>
        <img
            src={post.data.image}
            alt={post.data.title}
            class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
        />
    </a>

    <div class="mb-4">
        <CategoryList categories={post.data.categories} />
    </div>

    <a
        href={`/blog/${post.slug}`}
        class="text-4xl text-zinc-900 mb-4 font-semibold inline-block"
    >
        {post.data.title}
    </a>

    <p class="text-zinc-500 text-2xl mb-9 line-clamp-2">
        {post.body}
    </p>

    <div class="flex justify-between items-center">
        <a
            href={`/author/${author?.slug}`}
            class="text-zinc-900 text-2xl font-bold"
        >
            {author?.data.name}
        </a>

        <span class="text-zinc-700 text-xl">
            {post.data.date}
        </span>
    </div>
</article>
