---
import {type CollectionEntry, getEntryBySlug} from "astro:content"
import {Image} from "astro:assets"

import CategoryList from "./CategoryList.astro"

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props
const author = await getEntryBySlug("authors", post.data.author)
---

<article>
    <a
        href={`/blog/${post.slug}`}
        aria-label={`Read more about ${post.data.title}`}
    >
        <Image
            src={post.data.image}
            alt={post.data.title}
            width={600}
            height={600 / 1.5}
            format="webp"
            class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
        />
    </a>

    <div class="mb-4">
        <CategoryList categories={post.data.categories} />
    </div>

    <a
        href={`/blog/${post.slug}`}
        class="text-4xl text-zinc-900 mb-4 font-semibold inline-block"
    >
        {post.data.title}
    </a>

    <p class="text-zinc-500 text-2xl mb-9 line-clamp-2">
        {post.body}
    </p>

    <div class="flex justify-between items-center">
        {
            author ? (
                <a
                    href={`/author/${author.slug}`}
                    class="text-zinc-900 text-2xl font-bold"
                >
                    {author.data.name}
                </a>
            ) : null
        }

        <span class="text-zinc-700 text-xl">
            {post.data.date}
        </span>
    </div>
</article>
