---
import "@fontsource/cabin"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import {getThumbnail} from "../cloudinary"

export interface Props {
    title?: string
    description?: string
    image?: string
}

const {
    title = "Rhythm Nation",
    description = "A demo blog for a community of music producers and enthusiasts",
    image = getThumbnail("A community of music producers and enthusiasts"),
} = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/heartbeat.png" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta name="theme-color" content="#134e4a" />
        <link rel="canonical" href={Astro.url} />
        <title>{title}</title>
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={image} />
    </head>

    <body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
